h1{
  text-align: center;
  color: #fbec57;
  font-family: Helvetica;
}
body{
  background-color: #727e96;
  color: #fbec57;
  font-family: Arial;  
}

html{
border: 10px solid black;
  width: 440px;
  padding-right: 0px;
  margin: 0 auto;
  border-radius: 20px;

   
}
p{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.6em;
}
caption .img-caption{
  text-align: center;
}

#image{
  width: 440px;
  height: auto;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
  max-width:100%;
  
}

#img-caption{
  text-align: center;
  display: block;
}
#img{
  margin: auto;
  border-radius: 300px;
  display: block;
  padding-top: 15px;
}

h2{
  text-align: center;
}

#link{
  text-align: center;
  margin-top: 2em;
}

a:link{
  color: black;
}
a:hover{
  color:#8ebf42;
}
a:visited{
  color: red;
}